/* ===========
Header
============== */

header {
    width: 100%;
    /* flexbox likes max-height more than height for some reason.
    look into this! */ 
    max-height: 3em;
    
    flex-grow: 1;
    flex-shrink: 0;
    
    background-color: #1D1B2C;
    border-bottom: 4px solid #9794AD;
    
    /* center the <ul> within the header */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    & ul {
        width: 100%;
        display: flex;
        gap: 2.375em;
        
        margin-right: 4.75em;
        
        & li:first-child {
            /* move all links to the left via how flex handles auto margins */
            margin-left: auto;
        }
        
        @media screen and (max-width: 51.688em) {
            & li:first-child {
                margin-left: 0;
            }
            margin-right: 0;
            justify-content: center;
        }
        
        & li {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 2.813em;
            list-style-type: none;
            
            & a {
                /* replace with medium-width rubik font */
           
                color: white;
                text-decoration: none;
                
                transition: .2s color ease-out;
                &:hover {
                    color: #b9c4f8;
                }
            }
        }
        
        & li.r-padding {
            padding: 0 .6rem 0 0;
        }
    }
}


/* ===========
Main
============== */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    flex-grow: 2;
    flex-shrink: 1;
    
    /* space between main content and footer if main content overflows outside of
    fluid-layout */
    padding-bottom: 1em;
    
    & .main-subheader {
        display: flex;
        
        width: 100%;
        
        & > * {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-basis: 40%;
            flex-grow: 2;
            flex-shrink: 1;
        }
        
        & img.headshot {
            max-width: 7.25em;
            max-height: 7.25em;
            border-radius: 100%;
            border: 3px solid #1D1B2C;
            
            filter: drop-shadow(0 4px 4.8px #1d1b2c8a);
            object-fit: cover;
            
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 20%;
            
            position: relative;
            top: -2.3em;
        }
    
        & .introduction {
            order: -1;
            
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
            margin-left: 3.438em;
            
            & p {
                font-size: 2.25em;
                /* max-height of fit-content doesn't work strangely */
                max-height: 1.2em;
                
                filter: drop-shadow(0 2px 1.65px #0000003e);
                
            }
            
            & p span > span:nth-child(1) { --i: 1 }
            & p span > span:nth-child(2) { --i: 2 }
            & p span > span:nth-child(3) { --i: 3 }
            
            & p span > span:nth-child(n) {
                /* I guess this is needed for translation to work...
                i guess I will need to read the guides again. it has to do with display mode */
                display: inline-block;
                
                opacity: 0;
                animation: 1.3s calc(var(--i) * .15s) slide-down-too-far forwards,
                           1s calc(3 * .15s + .7s) slide-up-to-zero forwards;
            }
            
            & small {
                font-size: 1em;
                /* max-height of fit-content doesn't work strangely */
                max-height: 1.2em;
    
                filter: drop-shadow(0 2px 4.3px #00000019);
            }
            
            & small span > span:nth-child(1) { --i: 1 }
            & small span > span:nth-child(2) { --i: 2 }
            
            & small span > span:nth-child(n) {
                /* I guess this is needed for translation to work...
                i guess I will need to read the guides again. it has to do with display mode */
                display: inline-block;
                
                opacity: 0;
                animation: .8s ease-out calc(var(--i) * .2s + .9s) web-dev-slide-down forwards;
            }
        }

    
        & .page-title {
            order: 1;
            
            display: flex;
            justify-content: center;
            
            & h1 {
                max-width: fit-content;
                filter: drop-shadow(0 2px 1.7px #00000034);
            }
        }
    
        
        /* win via cascade */
        @media screen and (max-width: 62.5em) {
            flex-direction: column;
            align-items: center;
            
            h1 {
                /* rem so that the unit isn't based on h1's size, rather 16px */
                margin-bottom: .5rem;
            }
            
            & > * {
                display: flex;
                align-items: center;
                justify-content: center;
                
                flex-grow: 1;

            }
            
            & .introduction {
                align-items: center;

                /* strange. reset must be present for children to be centered,
                yet the box model layout doesn't display any margin/padding in firefox... */
                margin: 0;
                padding: 0;
                margin-top: .6em;
            }
            
            & img.headshot {
                max-width: 7.25em;
                max-height: 7.25em;
                border-radius: 100%;
                border: 3px solid #1D1B2C;
                
                filter: drop-shadow(0 4px 4.8px #1d1b2c8a);
                object-fit: cover;
                
                position: static;
            }
        }
    }

    & .horizontal-line {
        width: 96%;
        opacity: 3%;
        height: 4px;
        background-color: #1D1B2C;
    }
    
    p.last-modified {
        font-size: .7rem;
        margin-top: auto;
        padding-top: 4em;
    }
}

footer {
    flex-grow: 1;
    flex-shrink: 0;
    
    background-color: #FCFCFC;
    border-top: 2px solid #A5A3A3;
   
    display: flex;
    padding: .3em 0;
    /* max-height due to flex (learn more from josh comeau) */
    max-height: 6em;
    
    @media screen and (max-width: 35.188em) {
        flex-direction: column;
        row-gap: 1em;
        padding: .5em 0;
        
        max-height: fit-content;
    }
    
    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        flex-grow: 1;  
        flex-basis: 33%;
        color: black;
    }
    
    & p {
        /* for when the copyright text wraps */
        text-align: center;
        
        & a {
            color: black;
            text-decoration: underline dashed rgb(170, 170, 170) 1px;
            text-underline-offset: 2px;
                
            transition: .2s color ease-out;
            &:hover {
                color: #999d53;
            }
        }
    }
}


/* ===========
Keyframes
============== */

@keyframes slide-down-too-far {
    from {
        /* use translate instead of relative w/ top, as the text-align
        property will cause unsmooth animation due to centering? dunno
        maybe also a similar reason when working with flex children? */
        /* https://stackoverflow.com/questions/65995712/css-animation-is-not-smooth-it-is-shaking */
        transform: translate3d(0, -.55em, 0);
        opacity: 0;
    }
    /* 30% {
        opacity: 1;
    }
    
    60% {
        opacity: 1;
        transform: translate3d(0, .15em, 0);
    } */
    
    to {
        opacity: 1;
        transform: translate3d(0, .35em, 0);
    }
}

@keyframes slide-up-to-zero {
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes web-dev-slide-down {
        /* use translate instead of relative w/ top, as the text-align
        property will cause unsmooth animation due to centering? dunno
        maybe also a similar reason when working with flex children? */
        /* https://stackoverflow.com/questions/65995712/css-animation-is-not-smooth-it-is-shaking */
    from {
        opacity: 0;
        transform: translate3d(0, -1.5rem, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, -.20em, 0);
    }
}