.pr-06 {
    padding-right: 0.6rem;
}

.ml-auto {
    margin-left: auto;
}

.mt-05 {
    margin-top: .5rem;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.g-1rem {
    gap: 1rem;
}

.mt-1rem {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}