/*
    Keep learning.
    Copyright Zowie Beha 2026
*/

/*
    Big Todos:
        - <picture> responsive image implementation
        - relative color fix
        - finish my learnings on viewports
*/

/* ====
Variables
======= */

:root {
    --color-white: rgb(224 240 240);
    --color-black: rgb(32 32 32);
    --color-selection: rgb(32 128 192 / 0.64);
}

/* ====
Resets
======= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    color: var(--color-white);
    font-family: "Hanken Grotesk", "Calibri", sans-serif;
    
    &::selection {
        /*
            Question: Is it possible to transition the `::selection`'s background without JS?
            
            transition: .2s background;
            @starting-style {
                background: none;
            }
        */
        background: rgba(21, 127, 184, 0.66);
    }
}

html {
    height: 100%;
}

body {
    /*
        Todo:
            - learn about viewports and about containing blocks, to understand how these heights works:
                https://www.youtube.com/watch?v=xl9R8aTOW_I
            - Research Question: not sure why a height of 100vw differs in behavior compared to 100%...
    */
    
    height: 100%;
    
    display: grid;
    grid: 1fr max-content / auto-flow;
    place-items: center;
    
    background: var(--color-black);
    
    /* Background image */
    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        
        /*
            Todo:
            - Use a <picture> set instead, so that I can use `border-radius` on the
            ... image box itself, rather than on the psuedo-element's box assumed size of the <body>.
            
            - Read the docs and use the `background` shorthand, rather than its consitutent properties.
        */
        
        background-image: url(./img/backgrounds/background.jpg);
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        outline: 2px solid red;
        
        border-radius: 100%;
    }
}

a { transition: .2s text-shadow; }

h1 {
    font-size: 2.5rem;
}

h1, p {
    text-shadow: 0 2px .75rem var(--color-black);
}

footer {
    padding: 1rem;
}

/* ====
Components
======= */

img#background-img {
    border-radius: 100%;
    filter: blur(2rem);
}

/* ====
Utilities
======= */

/*
Todo:
    - Read these writings:
        * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/ident#escaping_characters
        * https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Global_attributes/class
        * https://blog.jim-nielsen.com/2019/dynamically-darken-a-color-in-css/
        * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value/rgb
*/

/* CSS permits escaped Unicode characters within identifiers! */
/* Question: When was this feature supported and in which browsers? */
a.hover\:glow {
    text-shadow: 0 0 0 transparent;
    transition: .4s ease text-shadow;
    
    &:hover {
        text-shadow: 0 0 8px var(--color-white); /* fallback for older browsers */
        /* Input must be same color channel as the deconstructed output. */
        /* Question: May the deconstructed output differ from the color function used? */
        text-shadow: 0 0 8px rgb(from var(--color-white) r g b / .48);
    }
}