/*
    Make colors based off of image
    Use CSS vars
    EM or REM for text shadow?
    
    Sleep more (1am hours...)
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: "Hanken Grotesk", "calibri", sans-serif;
    
    &::selection {
        background: rgba(21, 127, 184, 0.66);
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    /* learn about viewports and about containing blocks */
    /* height: 100vw; */
    
    display: grid;
    place-items: center;
    
    /* use image-set instead */
    background-color: rgb(20, 21, 21);
    background-image: url(./background.jpg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(238, 240, 241);
    text-shadow: 0 2px .5em rgb(20, 21, 21);
    font-size: 2.5rem;
}