/*
    Keep learning.
    Never. Never. Never give up.
    Copyright Zowie Beha 2026
*/

/*  
    [self-note]
    Tasks:
        - [(done)] relative color fix
            [] Learn how it works in-depth with a mental model...
        - [(done)] <picture> responsive image implementation
            [(done)] I have my implementation
            [] I want to write an article and complete my mental model..
        - [(in progress)] Debug the transform for the <img>
        - [] Tidy this file up
        - [] Mobile responsiveness (keep same aspect ratio and don't cut off parts of the image. maybe cover will help? but we can use the width/height and their limit propeeties...)
        - [] Understand the problems here, and solve each and every one of them.. even if it makes me unhireable.
        - [] finish my learnings on viewports
*/

/* ====
Variables
======= */

:root {
    --color-white: rgb(224 240 240);
    /* Input must be same color channel as the deconstructed output. */
    /* [self-note] Question: May the deconstructed output differ from the color function used? */
    --color-off-white: rgb(from var(--color-white) r g b / .82);
    --color-off-white2: rgb(from var(--color-white) r g b / .48);
    --color-black: rgb(32 32 32);
    --color-selection: rgb(32 128 192 / 0.64);
}

/* ====
Resets
======= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    color: var(--color-white);
    
    font-family: "Hanken Grotesk", "Calibri", sans-serif;
    
    &::selection {
        /*
            [self-note]
            Question: Is it possible to transition the `::selection`'s background without JS?
            
            transition: .2s background;
            @starting-style {
                background: none;
            }
        */
        background: rgba(21, 127, 184, 0.66);
    }
}

html {
    height: 100%;
    /* [self-note] [question]: Why does this hide everything in the body (and not render over-top it?)? */
    /* background-image: linear-gradient(to right, transparent); */
}

body {
    /*
        [self-note]
        Todo:
            - learn about viewports and about containing blocks, to understand how these heights works:
                https://www.youtube.com/watch?v=xl9R8aTOW_I
            - Research Question: not sure why a height of 100vw differs in behavior compared to 100%...
    */
    
    /* debug border */
    border: 4px solid red;
    
    display: grid;
    grid: 1fr max-content / 1fr;
    place-items: center;
    
    height: 100%;
    
    background: var(--color-black);
    
    /* if we position the #background-img outside of the <body>'s dimensions, do not produce a scrollbar as a result  */
    /* figure this out: */
    overflow: hidden;
    
    /* Background image */
    /* [self-note] */
    /* &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1; */
        
        /*
            Todo:
            - Use a <picture> set instead, so that I can use `border-radius` on the
            ... image box itself, rather than on the psuedo-element's box assumed size of the <body>.
            
            - Read the docs and use the `background` shorthand, rather than its consitutent properties.
        */
        
        /* background-image: url(./img/backgrounds/background.jpg);
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        outline: 2px solid red;
        
        border-radius: 100%;
    } */
}

a { transition: .2s text-shadow; }

h1 {
    font-size: 2.5rem;
}

h1, p {
    text-shadow: 0 2px .75rem var(--color-black);
}

footer {
    padding: 1rem;
    
    /* replace color for <a> and <p> children of the <footer> */
    * {
        color: var(--color-off-white);
    }
}

main {
    /* [self-note] why does an element with width: auto; not size to be 100% of its grid track's width? */
    /* [self-note] width: 100%; */
    /* [self-note] I guess grid items fit their inline length to their content's inline length, rather than to their track inline length. */
}

/*
[self-note]
left off:
    why is main so small?
    why does setting overflow: hidden; on main
    not hide the rest of the background image?
    
    do I need to set overflow: hidden on the body?
*/

/* ====
Components
======= */

/*
    What I want:
        Red lines drawn over top the image to denote its horizontal and vertical centers.
    
    Limitations:
        * `background` renders underneath an <img>'s painted <image> loaded from its `src` attribute.
        * ::before and ::after render underneath an <img>'s painted <image> loaded from its `src` attribute.
    
    Solutions:
        * Easiest: Use JS
        * Use a <div> as a container. Give it a ::before,
            .. and use a layered background of linear-gradient() and image-set() to re-create
            .. the <img> and its `srcset` attribute.
            - Some writers online prefer this practice, as it separates the styling layer from the HTML.
*/
    
#debug {
    outline: 2px solid blue;
    position: relative;
    /* make container fit to fixed contents. currently doesn't.. and if we use absolute image, it positions relative to relative #debug container.. */
    /*
        Debug visuals by showing the centeral x and y axes in red. can't place on <img>, as its
        <image> `src` renders overtop backgrounds.
    */
    /* https://www.reddit.com/r/css/comments/1ja3vj2/comment/mhrjqz7/ */
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, transparent 0%, 49%, red 50%, 51%, transparent);
    }
}

img#background-img {
    position: absolute;
    
    /* [self-note] Position the element at the top of its initial containing block, rather than at the top of its containing block parent (<main>) */
    /* [self-note] How to better explain this? How does it work like this when compared to a parent that has position: relative;? Learn more... */
    /* top: 50%; */
     /* how do i center it along the vertical axis? */
    /* Center the image along the horizontal axis */
    /* position inline-start face 50% from left */
    /* translate left by 50% of its inline length to ensure it's centered in the middle of the screen */
    /* top: 100%; */
    /* transform: translateY(-50%); */
    
    height: 100%;
    /* scale: 2;     */ /* only a rendering change- doesn't affect the layout */
    z-index: -1;
    border-radius: 10%;
    /* filter: blur(.25rem); */
    
    /*
        Debug visuals by showing the centeral x and y axes in red. can't place on <img>, as its
        <image> `src` renders overtop backgrounds.
    */
    /* https://www.reddit.com/r/css/comments/1ja3vj2/comment/mhrjqz7/ */
    /* &::after {
        content: "";
        display: inline-block;
        position: relative;
        width: 2rem;
        height: 2rem;
        background: linear-gradient(transparent 0%, 49%, red 50%, 51%, transparent);
    } */
}

#psuedo-background-img {
    display: none;
    position: absolute; /* why does this, without any inset properties, default its top and left to the original position in the layout? */
    top: 0;
    left: 0;
    /* z-index: inherit; */
    /* why does this render above the body's border without z-index: -1? stacking context research... */
    
    width: 100%;
    height: 100%;
    
    /* We use a ::before, as it allows us to write alternative text in the content attribute. */
    &::before {
        
        display: none;
                
        /* From my understanding so far, content creates a psuedo-element with content that is
        lain out as if each image type passed were its own element...? thus they take up their own space in the layout individually,
        rather than being layered....
        Why do they lay out along a line that wraps like a flexbox? maybe a glitch? maybe something I'm not thinking of... */
        /* why isn't it displaying with just its content set? */
        /* Mind that screen reader's won't announce the image as an image, rather just the content's alternative text */
        content: 
            linear-gradient(to right, transparent 49%, green 49%, 51%, transparent 51%)
            linear-gradient(to bottom, transparent 49%, green 49%, 51%, transparent 51%) 
            image-set(
                url("./static/images/background/background.jpg"),
                url("./static/images/background/background_otyz33_c_scale,w_480.jpg"),
                url("./static/images/background/background_otyz33_c_scale,w_1959.jpg"),
                url("./static/images/background/background_otyz33_c_scale,w_2936.jpg"),
                url("./static/images/background/background_otyz33_c_scale,w_3440.jpg")
            )
            / "A photographed overhead view of a starry blue night sky with black trees growing towards the center of the image from the image border";
        
        /* doesn't work for our desired implementation
         unless we write the width/height out explicitly ourselves (which we don't want to do) */
        /* background: */
            /* it was a simple missing comma that tripped me up... */
            /* linear-gradient(to right, transparent 49%, red 49%, 51%, transparent 51%),
            linear-gradient(to bottom, transparent 49%, red 49%, 51%, transparent 51%),
            image-set(
                url("./static/images/background/background.jpg"),
                url("./static/images/background/background_otyz33_c_scale,w_480.jpg"),
                url("./static/images/background/background_otyz33_c_scale,w_1959.jpg"),
                url("./static/images/background/background_otyz33_c_scale,w_2936.jpg"),
                url("./static/images/background/background_otyz33_c_scale,w_3440.jpg")
            ) center / contain no-repeat; */
        
            /* research position absolute.. */
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
}

/* ====
Utilities
======= */

/*
    [self-note]
    Todo:
        - Read these writings:
            * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/ident#escaping_characters
            * https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Global_attributes/class
            * https://blog.jim-nielsen.com/2019/dynamically-darken-a-color-in-css/
            * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value/rgb
            * https://en.wikipedia.org/wiki/List_of_Unicode_characters
*/

a {
    text-shadow: 0 0 0 transparent,
                 0 0 0 transparent;
    transition: .4s ease color, .4s text-shadow; 
    
    --shadowBlur: .45em;
}

@property --shadowBlur2 {
    syntax: "<length>";
    inherits: false;
    /*
        initial-value must be present.
        it must also be computationally independent, thus we can't default to .45em.
        
        https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@property#description
    */
    /*
        [question]:
            Why is this computed value limitation in place?
        [hypothesis]:
            Maybe the engine requires some optimization that limits using dynamic properties like this?
            But dynamic JS allows for classes to be added and for font-size to dynamically change.
            
            I can use em with css variables, and I can animate CSS variables...
            
            So why not with properties?
    */
    initial-value: 0;
}

/* [self-note] CSS permits escaped Unicode characters within identifiers! */
/* [self-note] Question: When was this feature supported and in which browsers? */
a.hover\:glow {
    color: var(--color-white);
    
    &:hover {
        /* fallback for older browsers */
        text-shadow:
            0 0 var(--shadowBlur) var(--color-off-white),
            0 0 var(--shadowBlur) var(--color-off-white);
        /* --color-off-white2 points to a deconstructed and altered version of --color-white */
        text-shadow:
            0 0 var(--shadowBlur) var(--color-off-white2),
            0 0 var(--shadowBlur) var(--color-off-white2);
                     
        /*
            [question]:
                Why does the animation appear so choppy?
            [hypothesis]:
                Maybe when my laptop is not plugged in there is regression in visual fidelity?
                > Nope, not that
                
                Maybe a browser rendering issue shared by Chrome & Firefox?
        */
        animation: 2s .4s flicker-cycle infinite alternate-reverse forwards running;
    }
}

/*
    To be added via JS.
    An :unhover psuedo-element doesn't exist, so we require JS for a reverse animation where:
    * The element plays its animation forward while hovered.
    * The element reverses its animation the instant the hover ends.
    * The element's original style is maintained when not interacted with, either prior to the first interaction,
        or after the reverse animation completes.
        
    Adding this declaration to the rule above would play the reverse animation upon page load, which isn't what we want.
*/
a.unhover\:unglow {
    animation: 1s remove-flicker 1 normal forwards running;
}

@keyframes flicker-cycle {
    from {
        --shadowBlur: .55em;
    }
    20% {
        --shadowBlur: .65em;
    }
    40% {
        --shadowBlur: .50em;
    }
    60% {
        --shadowBlur: .55em; 
    }
    80% {
        --shadowBlur: .54em;
    }
    to {
        --shadowBlur: .55em;
    }
}

@keyframes remove-flicker {
    /* doesn't animate from current frame of cycle to transparent - only pre-defined values
    
    hack #1:
        (for which we use the middle of the animation as the from rule
        to have either one last flicker if the last frame of the cycle was near 0%, or a return to 0% if the
        last frame of the cycle was positioned at or above 50% of the timeline's total frames.)
        
    non-hack option #2:
        somehow animate from any arbitrary value to another without knowing the to...
        JS-only maybe?
    */
    from {
        /* fallback for older browsers */
        text-shadow:
            0 0 .45em var(--color-off-white),
            0 0 .45em var(--color-off-white);
        /* --color-off-white2 points to a deconstructed and altered version of --color-white */
        text-shadow:
            0 0 .45em var(--color-off-white2),
            0 0 .45em var(--color-off-white2);
    }
    to {
        /* fallback for older browsers */
        text-shadow: 0 0 0 transparent;
    }
}

.position-relative {
    position: relative;
}

h2 {
    position: absolute;
    width: 100%;
}