@charset "utf-8";

/*
author: Zowie Beha
license: Copyright © 2025 Zowie Beha
*/

/* ===========
About page content
============== */

/* vscode doesn't handle nested comment syntax highlighting nicely D: */
/*

*/

div.horizontal-line {
    margin-bottom: 3rem;
}

div.about p,
div.about small {
    padding: .5rem;
    width: 55%;
    margin: 0 auto;
}

div.about p {
    /* make smaller as screen shrinks.
    how to make bigger as screen grows, but clamp to a min? 
    prob an algorithm with nested min/maxes 
    inspired by bootstrap */
    font-size: min(1.2rem, calc(1rem + .6vw));
}
div.about small {
    display: block; /* set to block so we can alter width */
    
    font-size: min(.8rem, calc(1rem + .6vw));
    width: 65%;
}