/* ===========
Attributions page content
============== */

.attribution-details {
    margin-top: 2rem;

    display: grid;
    justify-content: center;

    .attributions__heading {
        font-size: 1.25em;
    }

    .attribution-list {
        // Improvement:
        /* I wonder if there's a better way to
            expand the text's size on hover, while keeping everything center
            so that the list-style-type doesn't move due to the text
            increasing the containing ul size...
            maybe with an <a> wrapper div? */
        width: 21rem;

        .list__item {
            color: #1D1B2C;

            .list__link {
                color: #575dd4;
                font-size: 0.888em;

                transition:
                    .2s color ease-out,
                    .2s font-size ease-out;

                &:hover {
                    color: #85c9c8;
                    font-size: 0.898em;
                }
                
                &:visited {
                    color: rgb(80 21 136);
                }
            }
        }
    }
}