@use "./base/base_variables";

/*
Todo:

Make it component based.
Turn magic numbers into variables.
Redo it all with REM instead of EM, since EM makes everything
    dependent on the parent's font-size.
*/

/* ===========
Tooltips
============== */

#floating-tooltip {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: .3em;

    position: absolute;

    transform: scale(0);
    opacity: 0;
    transition: transform 0.2s, opacity 0.1s;
}

#floating-tooltip-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    transform: rotate(45deg);
}

/* ===========
Projects page content
============== */

.project-container {
    display: grid;
    // figure dense out
    grid: auto-flow dense / repeat(3, 1fr);
    gap: var(--project-gap);

    margin-top: 2.625em;

    --project-width: 14.2375rem;
    --project-gap: 2.375rem;
    
    width: 70%; // fallback
    width: calc(var(--project-width) * 3 + var(--project-gap) * 2);
    /* magic number. this code def needs a rewrite */

    @media screen and (max-width: base_variables.$breakpoint-medium) {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        justify-content: center;

        width: 60%; // fallback
        width: calc(var(--project-width) * 2 + var(--project-gap) * 1);
    }
    
    @media screen and (max-width: base_variables.$breakpoint-small) {
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;

        width: 30%; // fallback
        width: calc(var(--project-width) * 1);
    }

    .project {
        width: fit-content;

        /* prevent flicker on hover by easing the color from transparent */
        outline: 1px solid transparent;
        padding: .4em;
        border-radius: 4px;

        transition: .3s ease-out outline-color;

        &:has(a:hover) {
            outline: 1px solid rgb(187, 186, 186);
        }

        .project__thumbnail {
            width: 13.438em;
            height: 10.313em;
            border-radius: 14px;
            background-color: #1D1B2C;

            display: flex;
            justify-content: center;
            align-items: center;

            img.thumbnail__img {
                width: 12.5em;
                height: 9.375em;
                border-radius: 14px;
                object-fit: cover;
            }
        }

        .icons {
            width: 13.438em;
            height: 1.5em;
            border-radius: 5px;
            background-color: #1D1B2C;

            margin-top: 0.688em;
            margin-bottom: 0.938em;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.125em;

            .icon {
                width: 2.125em;
                height: 2.125em;

                img.icon__img {
                    width: 2.125em;
                    height: 2.125em;
                    object-fit: cover;
                }

                /* jquery circle is kind of small. make it a bit larger to 
                       be around the same size as the other icons
                    */
                img.icon__img[title="jQuery"] {
                    width: 2.255em;
                    height: 2.255em;
                }
            }

            /* why does setting width/height to the same value show the full svg,
                whereas aspect-ratio cuts part of it off? */
            .icon.icon--medium {
                width: 2.525em;
                height: 2.525em;

                img.icon__img {
                    height: 2.525em;
                    width: 2.525em;
                }
            }

            .icon.icon--long {
                height: 2.525em;
                width: 3em;

                img.icon__img {
                    height: 2.525em;
                    width: 3em;
                    object-fit: contain;

                }
            }
        }

        .project__info {
            display: flex;
            flex-direction: column;
            row-gap: 0.3125em;

            h2.info__heading {
                font-size: 1.25em;
                margin-top: 0;
                line-height: .75em;
            }

            p.info__text {
                /* not sure why when I set the width equal to the project-thumbnail
                    width, the p width isn't the same as the project-thumbnail. Weird...*/
                width: 19.438em;
                font-size: 0.688em;
                
                @media screen and (max-width: base_variables.$breakpoint-small) {
                    font-size: .7rem;
                }
            }
        }

        a.project__link {
            color: black;
            text-decoration: none;
            width: 100%;
            height: 100%;

            /* fill entire container instead of just inline 
                makes the whole container (even spots without content)
                clickable rather than just the children's element boxes
                https://stackoverflow.com/questions/8160494/how-to-make-a-whole-div-clickable-in-html-and-css-without-javascript
                */
            display: flex;
            flex-direction: column;
            /* center nested items */
            align-items: center;
        }
    }
}