@use "./base/base_variables";

/* ===========
Attributions page content
============== */

.attribution-details {
    margin-top: 2rem;

    display: grid;
    justify-content: center;

    .attribution__heading {
        font-size: 1.5em;
    }

    .attribution-list {
        // Improvement:
        /* I wonder if there's a better way to
            expand the text's size on hover, while keeping everything center
            so that the list-style-type doesn't move due to the text
            increasing the containing ul size...
            maybe with an <a> wrapper div? */
        width: 21rem;
        
        @media screen and (max-width: base_variables.$breakpoint-small) {
            width: 16rem;
        }

        .list__item {
            color: #1D1B2C;
            
            @media screen and (max-width: base_variables.$breakpoint-small) {
                &::marker {
                    /* We can't adjust the gap between the ::marker and the list item with precision: */
                    /* https://css-tricks.com/everything-you-need-to-know-about-the-gap-after-the-list-marker/ */
                    font-size: 0px;
                }
                
                .item__text {
                    position: relative;
                    font-size: 1.3rem;
                }
                
                .item__text::before {
                    content: "•";
                    position: absolute;
                    left: -1em;
                    
                    font-weight: bold;
                    font-size: 1.5rem;
                    padding-right: 1em;
                }
            }

            .item__link {
                color: #575dd4;
                font-size: 0.888em;

                transition:
                    .2s color ease-out,
                    .2s font-size ease-out;

                &:hover {
                    color: #85c9c8;
                    font-size: 0.898em;
                }
                
                &:visited {
                    color: rgb(80 21 136);
                }
            }
        }
    }
}