@charset "utf-8";

/*
author: Zowie Beha
license: Copyright © 2025 Zowie Beha
*/

/* ===========
Contact page content
============== */

/* to fix: why is it off-center? */
.icon-set {
    display: flex;
    width: 15%;
    justify-content: space-between;
    outline: 1px solid red;
    align-self: center;
    
    .icon-set__icon {
        width: 4rem;
        aspect-ratio: 1/1;
    }
}