@charset "utf-8";

/*
author: Zowie Beha
license: Copyright © 2025 Zowie Beha
*/

/* ===========
Home page content
============== */

#particles-js {
    width: 100%;
    height: 10em; /* don't completely squish the footer */
    border: 1px solid #1d1b2c1d;
    
    margin-bottom: 2em;
}


#tsparticles {
    width: 100%;
    height: 100%; /* don't completely squish the footer */
    border: 1px solid #1d1b2c1d;
}

div.horizontal-line {
    width: 100%;
}